.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.year {
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style: none;
  align-items: center;
}