.image {
  width: 20rem;
  height: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
  background-image: url("https://plus.unsplash.com/premium_photo-1692809752577-72da691a28ae?q=80&w=2787&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat
}